.container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
}

.font{
font-family: "Nerko One";
  font-weight: 400;
  font-style: normal;
  color:#F9F5EB;
}

.fontColorDark{
  color: #1C3879;
}

.bgColorLight{
  background-color: #F9F5EB;
}

.marginTop80{
  margin-top:80px;
}

.kids {
  border: 7px solid #F9F5EB;
  border-radius: 100%;
}

.navbar-toggler{
  color:#F9F5EB;
  border-color: #F9F5EB;
}

.stars{
  margin: auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited {
    background-color: #1C3879 !important;
    border-color: #1C3879 !important;
}

.btn-primary:hover {
  background-color: #F9F5EB !important;
  border-color: #F9F5EB !important;
  color: #1C3879 !important;
}

.nav-link{
  font-size: 2em;
  margin-right: 25px;
}

.subMenuBackground{
  background-color: #607EAA;
}

.canvas{
  background-color: #607EAA;
}

.canvasPosition{
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.header{
  margin:auto;
}

.headerText{
  font-size: 3em
}

.headline{
  text-align: center;
  font-size: 3em
}

.linksButtons{
  margin: 10px
}

.subHeaderText{
  font-size: 2em
}

.btn-outline-primary:hover{
    color: #F9F5EB;
    background-color: #1C3879;
    border-color: #F9F5EB; /*set the color you want here*/
}

.btn-outline-primary:active {
  background-color: #F9F5EB !important;
  border-color: #F9F5EB !important;
}

.buttonText{
  font-size: 1.5em
}

.btnAddItem{
  margin:0 auto;
  display:block;
  border-color: #FFEFD6;
}

.centerHorizontal{
  text-align: center;
}

.btnAbbrechenOK{
  display:block;
  border-color: #FFEFD6;
  margin: 5px;
}

.footer-padding {
	padding-bottom: 20px;
}

.addVideos{
  margin-top: 80px;
  margin-bottom: 0px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1C3879;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #FFEFD6;
}
