/* nerko-one-regular - latin */
@font-face {
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/nerko-one-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('../public/fonts/nerko-one-v15-latin-regular.eot'),
       url('../public/fonts/nerko-one-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/nerko-one-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/nerko-one-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/nerko-one-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/nerko-one-v15-latin-regular.svg#NerkoOne') format('svg'); /* Legacy iOS */
}

/* annie-use-your-telescope-regular - latin */
@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/annie-use-your-telescope-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('../fonts/annie-use-your-telescope-v18-latin-regular.eot'),
       url('../fonts/annie-use-your-telescope-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/annie-use-your-telescope-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/annie-use-your-telescope-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/annie-use-your-telescope-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/annie-use-your-telescope-v18-latin-regular.svg#AnnieUseYourTelescope') format('svg'); /* Legacy iOS */
}
